
body {
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    color: blue;
    background-size: green;
}

h2 {
    color: blueviolet;
}

p {
    color: brown;
    text-align: justify;
}